.menu-demo {
    width: 300px;
}

.ng-hide {
    height: 0;
}

.menu-demo .menu-wall {
    width: 300px;
    height: 100px;
    transition: all linear 0.5s;
    background-color: blanchedalmond;
    position: absolute;
    animation: mymove 5s infinite;
}

