

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    display: none;
    width: 50px;
    height: 100%;
    float: right;
}

@media only screen and (min-width: 768px) {
    button {
        display: none;
    }
}

/************************************************/
/* menu-1 mixin */
/* menu-1 */
.menu-1 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-1 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-1 > div ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-1 > div ul li {
                display: inline-block;
                height: 50px;
                padding-left: 10px;
                padding-right: 10px;
            }

                .menu-1 > div ul li a {
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    background-color: #ff6347;
                    line-height: 50px;
                }

                    .menu-1 > div ul li a:before {
                        content: "";
                        position: absolute;
                        bottom: 15px;
                        width: 100%;
                        height: 2px;
                        background-color: white;
                        -webkit-transform: scalex(0);
                        transform: scalex(0);
                        -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                    }

                    .menu-1 > div ul li a:focus {
                        outline: 0;
                    }

                        .menu-1 > div ul li a:hover:before, .menu-1 > div ul li a:focus:before {
                            -webkit-transform: scalex(1);
                            transform: scalex(1);
                            -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                            transition: -webkit-transform 0.4s ease-in-out 0s;
                            transition: transform 0.4s ease-in-out 0s;
                            transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                        }

/************************************************/
/* menu-2 mixin */
/* menu-2 */
.menu-2 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-2 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-2 > div ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-2 > div ul li {
                position: relative;
                display: inline-block;
                height: 48px;
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
                border-top: 1px solid #ff6347;
                border-bottom: 1px solid #ff6347;
            }

                .menu-2 > div ul li:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 48px;
                    -webkit-transform: translatey(-101%);
                    transform: translatey(-101%);
                    background-color: white;
                    -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                    transition: -webkit-transform 0.4s ease-in-out 0s;
                    transition: transform 0.4s ease-in-out 0s;
                    transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                }

                .menu-2 > div ul li:focus {
                    outline: 0;
                }

                    .menu-2 > div ul li:hover a, .menu-2 > div ul li:focus a {
                        color: #ff6347;
                        -webkit-transition: color 0.4s ease-in-out 0s;
                        transition: color 0.4s ease-in-out 0s;
                    }

                    .menu-2 > div ul li:hover:before, .menu-2 > div ul li:focus:before {
                        -webkit-transform: translatey(0%);
                        transform: translatey(0%);
                        -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                    }

                .menu-2 > div ul li a {
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: color 0.4s ease-in-out 0s;
                    transition: color 0.4s ease-in-out 0s;
                }

/************************************************/
/* menu-3 mixin */
/* menu-3 */
.menu-3 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-3 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-3 > div ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-3 > div ul li {
                position: relative;
                display: inline-block;
                height: 48px;
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
                border: 1px solid #ff6347;
                background-color: #ff6347;
                -webkit-transition: border-radius 0.4s ease-in 0s, background-color 0.4s ease-in 0.2s;
                transition: border-radius 0.4s ease-in 0s, background-color 0.4s ease-in 0.2s;
            }

                .menu-3 > div ul li:focus {
                    outline: 0;
                }

                .menu-3 > div ul li:hover, .menu-3 > div ul li:focus {
                    background-color: white;
                    border-radius: 7px;
                    -webkit-transition: background-color 0.4s ease-in 0.2s, border-radius 0.4s ease-in 0s;
                    transition: background-color 0.4s ease-in 0.2s, border-radius 0.4s ease-in 0s;
                }

                    .menu-3 > div ul li:hover a, .menu-3 > div ul li:focus a {
                        color: #ff6347;
                        -webkit-transition: color 0.4s ease-in 0s;
                        transition: color 0.4s ease-in 0s;
                    }

                .menu-3 > div ul li a {
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: color 0.4s ease-in-out 0s;
                    transition: color 0.4s ease-in-out 0s;
                }

/************************************************/
/* menu-4 mixin */
/* menu-4 */
.menu-4 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-4 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-4 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-4 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
                -webkit-transition: all 0.3s ease-in 0s;
                transition: all 0.3s ease-in 0s;
            }

                .menu-4 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-4 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-4 > div ul li:focus {
                    outline: 0;
                }

                .menu-4 > div ul li:hover, .menu-4 > div ul li:focus {
                    background-color: white;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    z-index: 2;
                    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.75);
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }

                    .menu-4 > div ul li:hover a, .menu-4 > div ul li:focus a {
                        -webkit-backface-visibility: hidden;
                        -moz-backface-visibility: hidden;
                        -ms-backface-visibility: hidden;
                        color: #ff6347;
                        -webkit-transition: color 0.4s ease-in 0s;
                        transition: color 0.4s ease-in 0s;
                    }

                .menu-4 > div ul li a {
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: color 0.4s ease-in-out 0s;
                    transition: color 0.4s ease-in-out 0s;
                }

/************************************************/
/* menu-5 mixin */
/* menu-5 */
.menu-5 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-5 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-5 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-5 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
            }

                .menu-5 > div ul li:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ff917e;
                    -webkit-transform: scalex(0);
                    transform: scalex(0);
                    -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                    transition: -webkit-transform 0.4s ease-in-out 0s;
                    transition: transform 0.4s ease-in-out 0s;
                    transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                }

                .menu-5 > div ul li:focus {
                    outline: 0;
                }

                    .menu-5 > div ul li:hover:before, .menu-5 > div ul li:focus:before {
                        -webkit-transform: scalex(1);
                        transform: scalex(1);
                        background-color: #ff917e;
                        -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: -webkit-transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s;
                        transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
                    }

                .menu-5 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-5 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-5 > div ul li a {
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }

/************************************************/
/* menu-6 mixin */
/* menu-6 */
.menu-6 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-6 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-6 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-6 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
            }

                .menu-6 > div ul li:before {
                    content: "";
                    position: absolute;
                    bottom: 15px;
                    width: 100%;
                    height: 2px;
                    background-color: #ff7e66;
                    -webkit-transform: scalex(0);
                    transform: scalex(0);
                    -webkit-transition: height 0.2s ease-in-out 0s, bottom 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0.2s;
                    transition: height 0.2s ease-in-out 0s, bottom 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0.2s;
                    transition: transform 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0s, bottom 0.2s ease-in-out 0s;
                    transition: transform 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0s, bottom 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0.2s;
                }

                .menu-6 > div ul li:focus {
                    outline: 0;
                }

                    .menu-6 > div ul li:hover:before, .menu-6 > div ul li:focus:before {
                        -webkit-transform: scalex(1);
                        transform: scalex(1);
                        height: 100%;
                        bottom: 0;
                        background-color: #ff7e66;
                        -webkit-transition: height 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
                        transition: height 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
                        transition: transform 0.2s ease-in-out 0s, height 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s;
                        transition: transform 0.2s ease-in-out 0s, height 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
                    }

                    .menu-6 > div ul li:hover a, .menu-6 > div ul li:focus a {
                        color: #ffd4cc;
                        -webkit-transition: color 0.4s ease-in-out 0s;
                        transition: color 0.4s ease-in-out 0s;
                    }

                .menu-6 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-6 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-6 > div ul li a {
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }

/************************************************/
/* menu-7 mixin */
/* menu-7 */
.menu-7 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-7 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-7 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-7 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
            }

                .menu-7 > div ul li:before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 20%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: top 0.4s linear 0s;
                    transition: top 0.4s linear 0s;
                }

                .menu-7 > div ul li:after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 25%;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: top 0.4s linear 0s;
                    transition: top 0.4s linear 0s;
                }

                .menu-7 > div ul li a:before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: 60%;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: top 0.4s linear 0s;
                    transition: top 0.4s linear 0s;
                }

                .menu-7 > div ul li a:after {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 73%;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: top 0.4s linear 0s;
                    transition: top 0.4s linear 0s;
                }

                .menu-7 > div ul li:focus {
                    outline: 0;
                }

                    .menu-7 > div ul li:hover:before, .menu-7 > div ul li:focus:before {
                        top: 30%;
                        -webkit-transition: top 0.2s ease-in-out 0s;
                        transition: top 0.2s ease-in-out 0s;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-delay: 0.2s;
                        animation-delay: 0.2s;
                        -webkit-animation-name: bounce-bubbles1;
                        animation-name: bounce-bubbles1;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        -webkit-animation-direction: alternate;
                        animation-direction: alternate;
                    }

                    .menu-7 > div ul li:hover:after, .menu-7 > div ul li:focus:after {
                        top: 10%;
                        -webkit-transition: top 0.4s ease-in-out 0.2s;
                        transition: top 0.4s ease-in-out 0.2s;
                        -webkit-animation-duration: 1.1s;
                        animation-duration: 1.1s;
                        -webkit-animation-delay: 0.6s;
                        animation-delay: 0.6s;
                        -webkit-animation-name: bounce-bubbles2;
                        animation-name: bounce-bubbles2;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        -webkit-animation-direction: alternate;
                        animation-direction: alternate;
                    }

                    .menu-7 > div ul li:hover a:before, .menu-7 > div ul li:focus a:before {
                        top: 5%;
                        -webkit-transition: top 0.2s ease-in-out 0.1s;
                        transition: top 0.2s ease-in-out 0.1s;
                        -webkit-animation-duration: 1.2s;
                        animation-duration: 1.2s;
                        -webkit-animation-delay: 0.3s;
                        animation-delay: 0.3s;
                        -webkit-animation-name: bounce-bubbles3;
                        animation-name: bounce-bubbles3;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        -webkit-animation-direction: alternate;
                        animation-direction: alternate;
                    }

                    .menu-7 > div ul li:hover a:after, .menu-7 > div ul li:focus a:after {
                        top: 50%;
                        -webkit-transition: top 0.2s ease-in-out 0.2s;
                        transition: top 0.2s ease-in-out 0.2s;
                        -webkit-animation-duration: 1.3s;
                        animation-duration: 1.3s;
                        -webkit-animation-delay: 0.4s;
                        animation-delay: 0.4s;
                        -webkit-animation-name: bounce-bubbles4;
                        animation-name: bounce-bubbles4;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        -webkit-animation-direction: alternate;
                        animation-direction: alternate;
                    }

                .menu-7 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-7 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-7 > div ul li a {
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }

@-webkit-keyframes bounce-bubbles1 {
    from {
        top: 30%;
    }

    to {
        top: calc(100% - 30% - 10px);
    }
}

@keyframes bounce-bubbles1 {
    from {
        top: 30%;
    }

    to {
        top: calc(100% - 30% - 10px);
    }
}

@-webkit-keyframes bounce-bubbles2 {
    from {
        top: 18%;
    }

    to {
        top: 32%;
    }
}

@keyframes bounce-bubbles2 {
    from {
        top: 18%;
    }

    to {
        top: 32%;
    }
}

@-webkit-keyframes bounce-bubbles3 {
    from {
        top: 5%;
    }

    to {
        top: 16%;
    }
}

@keyframes bounce-bubbles3 {
    from {
        top: 5%;
    }

    to {
        top: 16%;
    }
}

@-webkit-keyframes bounce-bubbles4 {
    from {
        top: 50%;
    }

    to {
        top: 60%;
    }
}

@keyframes bounce-bubbles4 {
    from {
        top: 50%;
    }

    to {
        top: 60%;
    }
}
/************************************************/
/* menu-8 mixin */
/* menu-8 */
.menu-8 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-8 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-8 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-8 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
            }

                .menu-8 > div ul li:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: width 0.4s ease-in-out 0s;
                    transition: width 0.4s ease-in-out 0s;
                }

                .menu-8 > div ul li:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: height 0.4s ease-in-out 0s;
                    transition: height 0.4s ease-in-out 0s;
                }

                .menu-8 > div ul li a:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 2px;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: height 0.4s ease-in-out 0s;
                    transition: height 0.4s ease-in-out 0s;
                }

                .menu-8 > div ul li a:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: width 0.4s ease-in-out 0s;
                    transition: width 0.4s ease-in-out 0s;
                }

                .menu-8 > div ul li:focus {
                    outline: 0;
                }

                    .menu-8 > div ul li:hover:before, .menu-8 > div ul li:focus:before {
                        width: 100%;
                        -webkit-transition: width 0.4s ease-in-out 0s;
                        transition: width 0.4s ease-in-out 0s;
                    }

                    .menu-8 > div ul li:hover:after, .menu-8 > div ul li:focus:after {
                        height: 100%;
                        -webkit-transition: height 0.4s ease-in-out 0s;
                        transition: height 0.4s ease-in-out 0s;
                    }

                    .menu-8 > div ul li:hover a, .menu-8 > div ul li:focus a {
                        opacity: 0.5;
                        -webkit-transition: opacity 0.4s ease-in-out 0s;
                        transition: opacity 0.4s ease-in-out 0s;
                    }

                        .menu-8 > div ul li:hover a:before, .menu-8 > div ul li:focus a:before {
                            height: 100%;
                            -webkit-transition: height 0.4s ease-in-out 0s;
                            transition: height 0.4s ease-in-out 0s;
                        }

                        .menu-8 > div ul li:hover a:after, .menu-8 > div ul li:focus a:after {
                            width: 100%;
                            -webkit-transition: width 0.4s ease-in-out 0s;
                            transition: width 0.4s ease-in-out 0s;
                        }

                .menu-8 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-8 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-8 > div ul li a {
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }

/************************************************/
/* menu-9 mixin */
/* menu-9 */
.menu-9 {
    width: 100%;
    height: 50px;
    background-color: #ff6347;
}

    .menu-9 > div {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 960px;
        text-align: center;
    }

        .menu-9 > div ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }

            .menu-9 > div ul li {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 50px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                z-index: 1;
                overflow: hidden;
                border-left: 1px solid white;
                border-right: 1px solid white;
                background-color: #ff6347;
            }

                .menu-9 > div ul li:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }

                .menu-9 > div ul li:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }

                .menu-9 > div ul li a:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }

                .menu-9 > div ul li a:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    background-color: white;
                    opacity: 0.5;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }

                .menu-9 > div ul li:focus {
                    outline: 0;
                }

                    .menu-9 > div ul li:hover:before, .menu-9 > div ul li:focus:before {
                        height: 100%;
                        width: 100%;
                        opacity: 0.1;
                        -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                    }

                    .menu-9 > div ul li:hover:after, .menu-9 > div ul li:focus:after {
                        height: 100%;
                        width: 100%;
                        opacity: 0.1;
                        -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                    }

                    .menu-9 > div ul li:hover a, .menu-9 > div ul li:focus a {
                        color: #fa2600;
                        -webkit-transition: color 0.4s ease-in-out 0s;
                        transition: color 0.4s ease-in-out 0s;
                    }

                        .menu-9 > div ul li:hover a:before, .menu-9 > div ul li:focus a:before {
                            height: 100%;
                            width: 100%;
                            opacity: 0.1;
                            -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                            transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                        }

                        .menu-9 > div ul li:hover a:after, .menu-9 > div ul li:focus a:after {
                            height: 100%;
                            width: 100%;
                            opacity: 0.1;
                            -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                            transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                        }

                .menu-9 > div ul li:first-child {
                    border-left: 2px solid white;
                }

                .menu-9 > div ul li:last-child {
                    border-right: 2px solid white;
                }

                .menu-9 > div ul li a {
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    text-transform: lowercase;
                    color: white;
                    line-height: 50px;
                    -webkit-transition: all 0.3s ease-in 0s;
                    transition: all 0.3s ease-in 0s;
                }
